
{% extends 'testing/base.html' %}
{% load static %}


	{% block header_top %}
		<!--begin::Tab Navs(for desktop mode)-->
		<ul class="header-tabs nav align-self-end font-size-lg">
			<!--begin::Item-->
			<li class="nav-item">
				<a href="{% url 'company_people' %}" class="nav-link py-4 px-6">People</a>
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mr-3">
				<a href="{% url 'company_task' %}" class="nav-link py-4 px-6">Tasks</a>
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mr-3">
				<a href="{% url 'company_settings' %}" class="nav-link py-4 px-6 active">Settings</a>
			</li>
			<!--end::Item-->
		</ul>
		<!--begin::Tab Navs-->
	{% endblock header_top %}

	{% block header_bottom %}
		<!--begin::Bottom-->
		<div class="header-bottom">
			<!--begin::Container-->
			<div class="container">
				<!--begin::Header Menu Wrapper-->
				<div class="header-navs header-navs-left" id="kt_header_navs">
					<!--begin::Menu-->
					<div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
						<!--begin::Nav-->
						<ul class="menu-nav">
							<li class="menu-item" aria-haspopup="true">
								<a href="{% url 'company_people' %}" class="menu-link">
									<span class="menu-text">People</span>
								</a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="{% url 'company_task' %}" class="menu-link">
									<span class="menu-text">Task</span>
								</a>
							</li>
							<li class="menu-item menu-item-active" aria-haspopup="true">
								<a href="{% url 'company_settings' %}" class="menu-link">
									<span class="menu-text">Settings</span>
								</a>
							</li>
						</ul>
						<!--end::Nav-->
					</div>
					<!--end::Menu-->
				</div>
				<!--end::Header Menu Wrapper-->
			</div>
			<!--end::Container-->
		</div>
		<!--end::Bottom-->
	{% endblock header_bottom %}
	

	{% block content %}
		<!--begin::Content-->
		<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
			<!--begin::Entry-->
			<div class="d-flex flex-column-fluid">
				<!--begin::Container-->
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<!--begin::Card-->
							<div class="card card-custom gutter-b">
								<div class="card-header">
									<div class="card-title">
										<h3 class="card-title align-items-start flex-column">
											<span class="card-label font-weight-bolder text-dark">Settings</span>
										</h3>
									</div>
								</div>
								<div class="card-body">
									<!--begin::Form-->
									<div class="row">
										<div class="col-xl-8 m-auto">														
											<form class="form mt-0" id="kt_form">
												<!--begin::User-->
												<div class="d-flex align-items-center">
													<div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
														<div class="symbol-label" style="background-image:url('{% static 'assets/media/users/300_13.jpg' %}')"></div>
													</div>
													<div>
														<a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">Company Name</a>
														<div class="text-muted">Co-Founder & CTO</div>
													</div>
												</div>
												<!--end::User-->
												<hr>
												<div class="mb-5 font-weight-bold text-dark lead">Profile Information</div>
												<div class="row">
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Name of the Company</label>
															<input type="text" class="form-control form-control-lg" name="company" placeholder="Company Name" value="Cipla" />
														</div>
														<!--end::Input-->
													</div>
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>E-mail</label>
															<input type="email" class="form-control form-control-lg" name="email" placeholder="Email Id" value="error@mail.com" />
														</div>
														<!--end::Input-->
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Password</label>
															<input type="password" class="form-control form-control-lg" name="password" placeholder="Password" value="Password" />
														</div>
														<!--end::Input-->
													</div>
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Areas to focus in Nutra</label>
															<select name="focus" class="form-control form-control-lg">
																<option value="">Select</option>
																<option value="AF" selected="selected">Option 1</option>
																<option value="AX">Option 2</option>
																<option value="AL">Option 3</option>
																<option value="DZ">Option 4</option>
																<option value="AS">Option 5</option>
																<option value="AD">Option 6</option>
															</select>
														</div>
														<!--end::Input-->
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Phone no.</label>
															<input type="phone" class="form-control form-control-lg" name="phone" placeholder="Phone No" value="9967744431" />
														</div>
														<!--end::Input-->
													</div>
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Types of Market access</label>
															<select name="market" class="form-control form-control-lg">
																<option value="">Select</option>
																<option value="AF">Option 1</option>
																<option value="AX">Option 2</option>
																<option value="AL">Option 3</option>
																<option value="DZ" selected="selected">Option 4</option>
																<option value="AS">Option 5</option>
																<option value="AD">Option 6</option>
															</select>
														</div>
														<!--end::Input-->
													</div>
													<div class="col-xl-12">
														<!--begin::Input-->
														<div class="form-group">
															<label>Address</label>
															<input type="text" class="form-control form-control-lg" name="phone" placeholder="Address" value="A-21, Park Street, Bangalore- 709901" />
														</div>
														<!--end::Input-->
													</div>
												</div>
												<hr>
												<div class="mt-10 mb-5 font-weight-bold text-dark lead">Company  Information</div>
												<div class="row">
													<div class="col-xl-12">
														<!--begin::Input-->
														<div class="form-group">
															<label for="factory-equipments">About your Company</label>
															<textarea class="form-control form-control-lg" id="factory-equipments" rows="3"></textarea>
														</div>
														<!--end::Input-->
													</div>
												</div>
												<div id="kt_repeater_2">
													<div data-repeater-list="" class="row">
														<div class="col-xl-6">
															<div class="form-group">
																<!--begin::Input-->
																<label for="upload">Upload your company certifications here</label>
																<div class="input-group mb-3">
																	<div class="custom-file">
																		<input type="file" class="custom-file-input form-control" id="upload01">
																		<label class="custom-file-label" for="upload01">Choose file</label>
																	</div>
																	<span class="form-text text-muted w-100">Maximum size: not more than 2mb</span>
																</div>
																<!--end::Input-->
															</div>
														</div>
														<div data-repeater-item="" class="col-xl-6">
															<div class="form-group">
																<!--begin::Input-->
																<label for="upload">Upload your company certifications here</label>
																<div class="input-group mb-3">
																	<div class="custom-file">
																		<input type="file" class="custom-file-input form-control" id="upload01">
																		<label class="custom-file-label" for="upload01">Choose file</label>
																	</div>
																	<span class="form-text text-muted w-100">Maximum size: not more than 2mb</span>
																</div>
																<!--end::Input-->
															</div>
														</div>
													</div>
													<div class="form-group">
														<div data-repeater-create="" class="btn btn-warning">
															<i class="la la-plus"></i>Add more Certificates</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6">
														<div class="form-group">
															<label for="col-fdate">Date of Establishment</label>
															<div class="input-group date" id="kt_datepicker_2" data-target-input="nearest">
																<input type="text" class="form-control form-control-lg date" readonly="readonly" placeholder="Select date" />
																<div class="input-group-append">
																	<span class="input-group-text">
																		<i class="ki ki-calendar"></i>
																	</span>
																</div>
															</div>																		
														</div>
														<!--end::Input-->
													</div>
													<div class="col-xl-6">
														<!--begin::Input-->
														<div class="form-group">
															<label>Location</label>
															<input type="text" class="form-control form-control-lg" name="password" placeholder="Location" value="Search" />
														</div>
														<!--end::Input-->
													</div>
												</div>
												<div class="row">
													<div class="col-xl-12 py-5 text-center">
														<a href="#" class="btn btn-primary btn-lg">Save Changes</a>
													</div>
												</div>
											</form>
										</div>
									</div>
									<!--end::Form-->
								</div>
							</div>
							<!--end::Card-->
							
						</div>
					</div>
				</div>
				<!--end::Container-->
			</div>
			<!--end::Entry-->
		</div>
		<!--end::Content-->
	{% endblock content %}

