{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <script type="text/javascript">
          // prevent the page from going backwards
        function preback(){
            window.history.forward(); 
        }
        setTimeout("preback()",0);
        window.onunload = function(){null};
    </script>

    <!--begin::Signup-->
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white">
        <!--begin::Content-->
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <!--begin::Content body-->
            <div class="d-flex flex-column-fluid flex-center">
                <!--begin::Signin-->
                <div class="login-form">
                    <!--begin::Form-->
                    <form class="form" method="POST" action="#">
                        {% csrf_token %}
                        <!--begin::Title-->
                        <div class="pb-10 pt-lg-0 pt-5 text-center">									
                            <img src="assets/media/logos/logo.png" class="max-h-75px mb-5" alt="" />
                            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Quiz App Register</h3>
                        </div>
                        <!--End::Title-->
                        
                        <div id="div_id_username" class="form-group"> 
                            <label for="id_username" class=" requiredField">
                                Username<span class="asteriskField">*</span>
                            </label> 
                            <div class=""> 
                                <input type="text" name="username" value="" maxlength="150" autofocus class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" required id="id_username"> 
                                <p id="error_1_id_username" class="invalid-feedback"><strong>A user with that username already exists.</strong>
                                </p><small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small> 
                            </div> 
                        </div> 

                        <div id="div_id_email" class="form-group"> 
                            <label for="id_email" class=" requiredField">
                                Email<span class="asteriskField">*</span> 
                            </label> 
                            <div class=""> 
                                <input type="email" name="email" class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" required id="id_email"> 
                                <p id="error_1_id_email" class="invalid-feedback"><strong>This field is required.</strong></p> 
                            </div> 
                        </div> 
                        
                        <div id="div_id_password1" class="form-group"> 
                            <label for="id_password1" class=" requiredField">
                                Password<span class="asteriskField">*</span> 
                            </label>
                            <div class=""> 
                                <input type="password" name="password1" autocomplete="new-password" class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" required id="id_password1"> 
                                <p id="error_1_id_password1" class="invalid-feedback"><strong>This field is required.</strong></p> 
                                <small id="hint_id_password1" class="form-text text-muted">
                                <ul>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                                </small> 
                            </div> 
                        </div> 
                        
                        <div id="div_id_password2" class="form-group"> 
                            <label for="id_password2" class=" requiredField">
                            Password confirmation<span class="asteriskField">*</span> 
                            </label> 
                            <div class=""> 
                                <input type="password" name="password2" autocomplete="new-password" class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" required id="id_password2"> 
                                <p id="error_1_id_password2" class="invalid-feedback"><strong>This field is required.</strong>
                                </p><small id="hint_id_password2" class="form-text text-muted">Enter the same password as before, for verification.</small> 
                            </div> 
                        </div>

   
                        <div class="form-group">
                            {% if form_errors %}
                                {{form_errors}}
                            {% endif %}
                        </div>

                        <!--begin::Action-->
                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center mt-2">
                            <button type='submit' class="btn btn-primary font-weight-bold px-9 py-4 my-3">Sign Up</button>
                            <div class="my-3 mr-2">
                                <span class="text-muted mr-2">Already have an account? </span>
                                <a href="{% url 'login' %}" class="font-weight-bold">login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


           

{% endblock content %}