{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script src={% static 'main.js' %} defer > </script>
{% endblock scripts %}

{% block content %}
    <form action="#" method="POST">
        {% csrf_token %}
        <input type="text" hidden="true" name="quiz_id" value="{{quiz_id}}"/>  
        <div class="container border m-3 p-2">
            {% if question_choice_set %}
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <input type="hidden" id="time_limit" name="time_limit" value="{{ time_limit }}">
                        <h5 id="time_limit_holder" value> {{ time_limit }}</h5>
                    </div>
                    <div class="col-3">
                        <h5 id="timer_box"></h5>
                    </div>
                </div>
            {% endif %}
            {% for question_id, mcqs in question_choice_set.items %}
                {% if question_id.type == "MCQ" %}
                    <div class="row p-4 border m-4">
                        <h4> {{ forloop.counter }}. {{ question_id.question }} </h4>
                        <div class="btn-group-vertical col-4" role="group" aria-label="Basic radio toggle button group">
                            {% if mcqs.choice1 != "__none" %}
                                <input type="radio" class="btn-check" name="btnradio{{forloop.counter}}" value="{{mcqs.choice1}}"  id="choice1{{forloop.counter}}" autocomplete="off">
                                <label class="btn btn-outline-primary m-2"  for="choice1{{forloop.counter}}">{{mcqs.choice1}}</label>
                            {% endif %}
                            
                            {% if mcqs.choice2 != "__none" %}
                                <input type="radio" class="btn-check" name="btnradio{{forloop.counter}}" value="{{mcqs.choice2}}"  id="choice2{{forloop.counter}}" autocomplete="off">
                                <label class="btn btn-outline-primary m-2"  for="choice2{{forloop.counter}}">{{mcqs.choice2}}</label>
                            {% endif %}

                            {% if mcqs.choice3 != "__none" %}
                                <input type="radio" class="btn-check" name="btnradio{{forloop.counter}}" value="{{mcqs.choice3}}" id="choice3{{forloop.counter}}" autocomplete="off">
                                <label class="btn btn-outline-primary m-2"  for="choice3{{forloop.counter}}">{{mcqs.choice3}}</label>
                            {% endif %}

                            {% if mcqs.choice4 != "__none" %}
                                <input type="radio" class="btn-check" name="btnradio{{forloop.counter}}" value="{{mcqs.choice4}}" id="choice4{{forloop.counter}}" autocomplete="off">
                                <label class="btn btn-outline-primary m-2" for="choice4{{forloop.counter}}" >{{mcqs.choice4}}</label>
                            {% endif %}
                        </div>
                    </div>   
                {% else %}
                    <div class="row p-4 border m-4">
                        <h4> {{ forloop.counter }}. {{ question_id.question }} </h4>
                        <div class="col-3">
                            <input type="text" class="p-2 m-1" name="fib_answer{{forloop.counter}}"></input>
                        </div>
                    </div>   
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <button class="btn btn-primary" type="submit" > Submit </button>
        </div>
    </form>
{% endblock content %}