{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		{% block customcss %}
        {% endblock customcss %}
    <!-- Metronics CSS -->
        <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    
    <title>Quiz App</title>
  </head> 
  <body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <script src="{% static 'main.js' %}" defer > </script>
    <div class="d-flex flex-column flex-root">  
        <div class="container">
            <form method="POST" action="{% url 'results' %}">
                {% csrf_token %}

                <input type="text" hidden="true" id="quiz_id1" name="quiz_id" value="{{quiz_id}}"/>
                <input type="text" hidden="true" id="question_id" name="question_id" value="{{question.question_id}}"/>
                <input type="text" hidden="true" id="question_type" name="question_type" value="{{question.type}}"/>
                <input type="text" hidden="true" id="question" value="{{question.question}}"/>
                <input type="text" hidden="true" id="choices1" value="{{choices.choice1}}"/>
                <input type="text" hidden="true" id="choices2" value="{{choices.choice2}}"/>
                <input type="text" hidden="true" id="choices3" value="{{choices.choice3}}"/>
                <input type="text" hidden="true" id="choices4" value="{{choices.choice4}}"/>
                <input type="text" hidden="true" id="last" name="last" value="{{last}}"/>
                <input type="hidden" class="hide" id="time_limit" value="{{ time_limit }}"/>
                <input type="hidden"  id="time_remaining_input" name="time_remaining_input" value=""/>
                <h5 id="time_remaining" hidden="true" class="hide" name="time_remaining" ></h5>


                <div class="container">
                    <h5 id="timer_box" class="text-center p-10 m-5"> Timer</h5>
                </div>

                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 id="question_box" class="card-label"> {{current}}/{{total_questions}}: {{ question.question }} </h3>
                        </div>

                        <div class="card-toolbar">
                            <button class="btn btn-sm btn-success font-weight-bold" id="save" > Save and logout </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="mcq_box" class="">
                            <div class="btn-group-vertical col-4" role="group" aria-label="Basic radio toggle button group">
                                {% if choices.choice1 != "__none" %}
                                    <input type="radio" class="btn-check" name="btnradio" value="{{choices.choice1}}"  id="choice1" autocomplete="off">
                                    <label class="btn btn-outline-primary m-2" id="label1" for="choice1">{{choices.choice1}}</label>
                                {% endif %}
                                
                                {% if choices.choice2 != "__none" %}
                                    <input type="radio" class="btn-check" name="btnradio" value="{{choices.choice2}}"  id="choice2" autocomplete="off">
                                    <label class="btn btn-outline-primary m-2" id="label2" for="choice2">{{choices.choice2}}</label>
                                {% endif %}

                                {% if choices.choice3 != "__none" %}
                                    <input type="radio" class="btn-check" name="btnradio" value="{{choices.choice3}}" id="choice3" autocomplete="off">
                                    <label class="btn btn-outline-primary m-2" id="label3" for="choice3">{{choices.choice3}}</label>
                                {% endif %}

                                {% if choices.choice4 != "__none" %}
                                    <input type="radio" class="btn-check" name="btnradio" value="{{choices.choice4}}" id="choice4" autocomplete="off">
                                    <label class="btn btn-outline-primary m-2" id="label4" for="choice4" >{{choices.choice4}}</label>
                                {% endif %}
                            </div>
                        </div>  
                        <div id="fib_box" class="">
                            <div class="col-3">
                                <input type="text" class="h-auto py-4 px-4 rounded-lg" id="fib_answer" name="fib_answer"></input>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                            <button id="next" type="submit" class="btn btn-light-primary font-weight-bold"> Next </button>
                            <button id="submit" type="submit" class="btn btn-success font-weight-bold"> Submit </button>
                            <button id="save_and_submit" hidden="true" type="submit" class="btn btn-primary">  </button>
                    </div>
                    
                </div> 
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js" 
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function() {
            // By default show the submit button 
            $('#submit').show();
            $('#next').hide();
            var last = $('#last').val();
            var q_type = $('#question_type').val();
            if (q_type == 'MCQ'){
                // show the MCQ Box when the question type is MCQ
                $('#fib_box').hide();
                $('#mcq_box').show();
            }
            else
            {
                // show the FIB Box when the question type is FIB
                $('#fib_box').show();
                $('#mcq_box').hide();
            }
                // If it is last question then show 
                // the submit button else hide it
            if (last == 'yes'){   
                $('#next').hide();
                $('#submit').show();
            }
            else{
                $('#next').show();
                $('#submit').hide();
            }
        });

        // when the user closes the tab or refreshes the page 
        // save the quiz and submit it with blank answers
        $('#save_and_submit').click(function(e){
            var time_rem = $('#time_remaining').text();
            let q_id = $('#quiz_id1').val();
            let ques_id = $('#question_id').val();
            let csrf = $('input[name=csrfmiddlewaretoken]').val();
            let question_type = $('#question_type').val();
            var last = $('#last').val();
            
            if ($('#question_type').val()=='MCQ'){
                var ch = $('input:radio[name=btnradio]:checked').val();
                if (ch==undefined){
                    ch = '';
                    }
                }
            else{
                var ch = $('#fib_answer').val();
                if (ch==undefined){
                    ch = '';
                }
            }
            var mydata = {quiz_id:q_id, question_id:ques_id, choice:ch, time_remaining:time_rem, csrfmiddlewaretoken:csrf, last:last, question_type: question_type};
            // Do ajax post to results
            $.ajax({
            url: '{% url "results" %}',
            method: 'POST',
            data: mydata,
            datatype: 'json',
            success: function(resp){
                    top.location.href = "{% url 'home' %}";
                }
            });
        });

        // when the user clicks on "save and logout"
        $('#save').click(function(e){
            e.preventDefault();
            var time_rem = $('#time_remaining').text();
            let q_id = $('#quiz_id1').val();
            let ques_id = $('#question_id').val();
            let csrf = $('input[name=csrfmiddlewaretoken]').val();
            var last = $('#last').val();
            // If the question is last then submit the quiz
            // else save it and logout
            if (last == 'no'){
                if ($('#question_type').val()=='MCQ'){
                    var ch = $('input:radio[name=btnradio]:checked').val();
                    if (ch==undefined){
                        ch = '';
                        }
                    }
                else{
                    var ch = $('#fib_answer').val();
                    if (ch==undefined){
                        ch = '';
                        }
                }
                var mydata = {quiz_id:q_id, question_id:ques_id, choice:ch, time_remaining:time_rem, csrfmiddlewaretoken:csrf, save:'yes'};
                
                $.ajax({
                url: '{% url "save_and_cont_later" %}',
                method: 'POST',
                data: mydata,
                datatype: 'json',
                success: function(resp){
                        top.location.href="{% url 'logout' %}"
                    }
                });
            }
            else{
                $('#submit').click();
            }
        });

        // when the user clicks on next button and gets the next question
        $('#next').click(function(e){
            e.preventDefault();
            let q_id = $('#quiz_id1').val();
            let ques_id = $('#question_id').val();
            let csrf = $('input[name=csrfmiddlewaretoken]').val();
            if ($('#question_type').val()=='MCQ'){
                var ch = $('input:radio[name=btnradio]:checked').val();
                if (ch==undefined){
                    ch = '';
                    }
                }
            else{
                var ch = $('#fib_answer').val();
                if (ch==undefined){
                    ch = '';
                }
            }
            var mydata = {quiz_id: q_id, question_id: ques_id, choice:ch, csrfmiddlewaretoken:csrf};
            
            $.ajax({
            url: '{% url "save_data" %}',
            method: 'POST',
            data: mydata,
            datatype: 'json',
                success: function(response){
                    $('#next').show();
                    $('#submit').hide();
                    var question_obj = response.question;
                    var choices_obj = response.choices;
                    $('#question_id').val(question_obj.question_id);
                    $('#question_type').val(question_obj.type);
                    $('#last').val(response.last);
                    $('#current').text(response.current);
                    $('#total_questions').text(response.total_questions);
                    if (question_obj.type == 'MCQ'){
                        $('#fib_box').hide();
                        $('#mcq_box').show();

                        $('#question_box').text(response.current+'/'+response.total_questions+': '+question_obj.question);
                        if(choices_obj.choice1 != '__none'){
                            $('#choice1').val(choices_obj.choice1);
                            $('#label1').text(choices_obj.choice1);
                        }
                        else{
                            $('#choice1').hide();
                            $('#label1').hide();
                        }
                        if(choices_obj.choice2 != '__none'){
                            $('#choice2').val(choices_obj.choice2);
                            $('#label2').text(choices_obj.choice2);
                        }
                        else{
                            $('#choice2').hide();
                            $('#label2').hide();
                        }
                        if(choices_obj.choice3 != '__none'){
                            $('#choice3').val(choices_obj.choice3);
                            $('#label3').text(choices_obj.choice3);
                        }
                        else{
                            $('#choice3').hide();
                            $('#label3').hide();
                        }
                        if(choices_obj.choice4 != '__none'){
                            $('#choice4').val(choices_obj.choice4);
                            $('#label4').text(choices_obj.choice4);
                        }
                        else{
                            $('#choice4').hide();
                            $('#label4').hide();
                        }
                        
                    }
                    else
                    {
                        $('#fib_box').show();
                        $('#mcq_box').hide();
                        $('#question_box').text(response.current+'/'+response.total_questions+': '+question_obj.question);
                    }

                    if (response.last === 'yes'){
                        $('#next').hide();
                        $('#submit').show();
                    }
                    
                },
                error: function(xhr, error){
                        console.log(xhr); 
                        console.log(error);
                }
            });
        });

        $('#submit').click(function(e){
            var time_rem = $('#time_remaining').text();
            $('#time_remaining_input').val(time_rem);
        });

    </script>
</body>
</html>









